* {
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}

/* header start */
.header {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  padding-block: 40px;
}

.nav {
  display: flex;
  gap: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  color: #83888f;
  text-transform: uppercase;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  font-family: "Barlow", sans-serif;
  color: #83888f;
}
/* header end */

/* hero start */
.hero {
  background-image: url(/cofferoasters/assets/img/about-us-hero-background.jpg);
  background-size: cover;
  margin-bottom: 170px;
  padding: 115px 85px;
  border-radius: 6px;
}

.hero h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  font-family: "Fraunces", serif;
  color: #fefcf7;
  width: 190px;
}
.hero p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Barlow", sans-serif;
  color: #fefcf7;
  width: 445px;
}

/* hero end */

/* our commitmend start  */

.our-commitment {
  display: flex;
  gap: 125px;
  margin-inline: 85px;
  align-items: center;
  margin-bottom: 170px;
}

.our-commitment h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #333d4b;
}

.our-commitment p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333d4b80;
}

/* our commitmend end  */

/* uncompromising quality start  */

.uncompromising {
  background-color: #2c343e;
  display: flex;
  padding: 85px 176px;
  position: relative;
  border-radius: 6px;
  margin-bottom: 170px;
}

.uncompromising h2 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: #fefcf7;
}

.uncompromising p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fefcf780;
  width: 540px;
}

.uncompromising-img img {
  position: absolute;
  bottom: 88px;
  right: 85px;
  border-radius: 8px;
}

/* uncompromising quality end  */

/* Our headquarters start  */

.our-headquarters {
  padding-left: 85px;
  padding-right: 150px;
  margin-bottom: 170px;
}

.our-headquarters h4 {
  font-family: "Fraunces", serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  color: #83888F;
  padding-left: 85px;
  padding-bottom: 72px;
}

.information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 95px;
}

.our-headquarters-box h3 {
  width: 272px;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  color: #333d4b;
}

.our-headquarters-box p {
  width: 115px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333d4b;
}
/* Our headquarters end  */

/* footer start  */

.footer {
  background-color: #2c343e;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 45px 85px;
}

.social-media-icon {
  display: flex;
  gap: 24px;
  padding-right: 0;
}

.social-media-icon img {
  width: 24px;
}
/* footer end  */

/* hover durumları  start */

.header .nav a:hover {
  color: #333d4b;
}

.footer .nav a:hover {
  color: #fefcf7;
}

.social-media-icon a:hover {
  background-color: #fdd6ba;
}
/* hover durumları  end */
