.webSiteBandContainer {
  display: flex;
  background: linear-gradient(90deg, rgb(85, 83, 226), rgb(60, 60, 180));

  justify-content: space-evenly;
  padding: 16px;
  margin-block: 16px;

  h3 {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}
