*{
  margin: 0;
  margin: auto;
}
.container {
  width: 1100;
  display: flex;
  background-color: #121212;
  height: 350px;
}

.card h3 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  width: 426px;
  margin-bottom: 24px;
  
}
.card a {
  width: 280px;
height: 64px;
padding: 16px 72px 16px 72px;
gap: 16px;
border-radius: 3px 0px 0px 0px;
opacity: 0px;
background-color: #DC3545;
text-decoration: none;
color: #FFFFFF;
}
.image{
  margin-left: 160px;
  margin-top: 36px;
}