* {
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 90%;
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
}

/* container background rigt left start  */
.container-right-bg-img {
  background-image: url(/typemaster/assets/img/right-bg-img.png);
  background-repeat: no-repeat;
  padding: 125px 240px;
  position: absolute;
  top: 196px;
  right: -420px;
}

.container-left-bg-img {
  background-image: url(/typemaster/assets/img/left-bg-img.png);
  background-repeat: no-repeat;
  position: absolute;
  padding: 125px 240px;
  top: 950px;
  left: -65px;
}

/* container background rigt left end  */

/* header start  */

.header {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  align-items: center;
  margin-bottom: 85px;
}

.header a:nth-child(1) {
  background-color: white;
  padding: 0;
}

.header a:nth-child(2) {
  width: 175px;
  text-align: center;
  text-decoration: none;
  padding: 16px 26px;
  background-color: #e8eff2;
  color: #162542;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.header a:hover:nth-child(1) {
  background-color: white;
}
.header a:hover {
  background-color: #162542;
  color: #fff;
}
/* header end  */

/* section start   */

.section {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  gap: 125px;
  align-items: center;
  margin-bottom: 30px;
}

.section h1 {
  color: #162542;
  font-size: 56px;
  font-weight: 900;
  line-height: 56px;
}

.section p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #7b8bad;
  padding-bottom: 16px;
}
.section-text {
  display: grid;
  gap: 24px;
}

.section-text a {
  width: 175px;
  text-align: center;
  padding: 16px 25px;
  background-color: #f16718;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  border-radius: 8px;
  margin-right: 40px;
}

.section-text a:hover {
  background-color: #ff9b62;
}

.section-text h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #7b8bad;
}

/* section end   */

/* content start  */
.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px;
  width: 1110px;
  align-items: center;
  margin-bottom: 170px;
}

.content-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #7b8bad;
}
.content h3 {
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  color: #162542;
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

/* content end  */

/* promotion start  */

.promotion {
  margin: 0 auto;
  width: 1110px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 130px;
}
.promotion-box img {
  margin-bottom: 48px;
}

.promotion-box h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #162542;
  margin-bottom: 24px;
}

.promotion-box p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #7b8bad;
}

/* promotion end  */

/* footer start  */
.footer {
  display: flex;
  justify-content: center;
  width: 1110px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #7b8bad;
}

.footer span {
  font-weight: 500;
}

/* footer end  */


/* tablet kısmı start  */

@media (width < 769px) {
  .container {
    width: 768px;
  }

  .container-right-bg-img {
    display: none;
  }

  .container-left-bg-img {
    display: none;
  }

  /* header start  */

  .header {
    width: 768px;
    margin-top: 40ox;
    align-items: center;
    margin-bottom: 62px;
  }

  .header a {
    margin-right: 20px;
  }
  /* header end  */

  /* section strat  */

  .section {
    margin: 0 auto;
    width: 768px;
    display: flex;
    gap: 70px;
    align-items: center;
    margin-bottom: 30px;
  }

  .section h1 {
    color: #162542;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
  }

  .section p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: #7b8bad;
    padding-bottom: 16px;
  }

  .section-text {
    display: grid;
    width: 340px;
  }

  .section-text a {
    width: 175px;
    text-align: center;
    padding: 16px 25px;
    background-color: #f16718;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #ffffff;
    border-radius: 8px;
    margin-right: 40px;
  }

  .section-text h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
  }

  .section-img img {
    width: 427px;
    margin-right: -70px;
  }
  /* section strat  */

  /* content start  */

  .content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 690px;
    align-items: center;
    margin-bottom: 170px;
  }

  .content-img {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    margin: 0 auto;
    margin-left: -36px;
  }

  .content-text {
    width: 690px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
  }

  .content-text h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    width: 255px;
  }

  .content-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    width: 398px;
  }
  /* content start  */

  /* promotion start  */

  .promotion {
    margin: 0 auto;
    width: 630px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 130px;
  }

  /* promotion end  */

  /* footer start  */

  .footer {
  width: 690px;
  }

  /* footer end  */

}

/* tablet kısmı end  */


/* mobil start   */

@media (width <  425px) {

  .container {
    width: 375px;
  }

  /* header start  */
  .header {
    width: 375px;
    margin-top: 23px;
    align-items: center;
    margin-bottom: 62px;
  }
  
  /* header end  */

  /* section start  */

  .section {
    margin: 0 auto;
    width: 327px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    margin-bottom: 30px;
  }

  .section-img img {
    width: 374px;
  } 
  /* section end  */

  /* content  start  */

  .content {
    width: 373px;
  }

.content-img {
  display: flex;
  width: 373px;
  gap: 24px;
}

  .content-img img:nth-child(1) {
    width: 129px;
  }

  .content-img img:nth-child(2) {
    width: 220px;
  }

  .content-text {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content-text h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
    width: 255px;
  }

  .content-text p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    width: 327px;
  }

  .promotion {
    margin: 0 auto;
    width: 327px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 130px;
  }

  .promotion-box {
    text-align: center;
  }

  .footer {
    width: 375px;
    }

}
/* mobil start   */