.sliderContainer {
  .sliderGeneral {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
    width: 1000px;
    padding-block: 24px;

    img {
      border-radius: 16px;
      width: 450px;
    }

    .sliderContent {
      display: grid;
      gap: 16px;

      .sliderHeader {
        h3 {
          font-size: 24px;
          color: #0d90e5;
        }

        h2 {
          font-size: 32px;
        }
      }

      p {
        opacity: 0.6;
      }

      a {
        text-decoration: none;
        background: linear-gradient(90deg, #0d90e5, #55a3eb);
        width: fit-content;
        padding: 8px 16px;
        border-radius: 8px;
        color: white;
      }

      a:hover {
        background: linear-gradient(90deg, rgb(85, 83, 226), rgb(60, 60, 180));
      }
    }

    .btns {
      display: flex;
      gap: 24px;

      .cvBtn {
        display: flex;
        align-items: center;
        gap: 4px;
        background: transparent;
        color: black;
      }
      .cvBtn:hover {
        color: white;
      }
    }
  }
}

@media (width <=426px) {
  .sliderContainer {
    .sliderGeneral {
      padding: 24px;
      flex-direction: column;
      width: fit-content;
    }
  }
}
