* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.867);
}
/* navbar başlangıç */
.baslik {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.baslik h1 {
  color: #212121;
}

.baslik .yollar {
  list-style: none;
  display: flex;
  gap: 12px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.baslik .yollar a {
  color: black;
  text-decoration: none;
}

.social-icon {
  display: flex;
  gap: 20px;
  padding: 5px 15px;
}

.social-icon li {
  list-style: none;
}

.social-icon img {
  width: 30px;
}

/* navbar bitiş */

/* slider başlangıç */

.giris {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: aqua;
  padding-block: 25px;
}

.giris .kullanici {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.yazi {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.yetenek {
  display: flex;
  flex-direction: column;
  border: 1px solid aqua;
  padding: 20px;
  gap: 10px;
  width: 400px;
}

.yetenek img {
  width: 40px;
  padding-right: 10px;
}

.yetenek-yazi {
  display: flex;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  align-items: center;
}

/* slider bitiş */

/* web site geçiş band başlangıç */

.web-site-gecis {
  display: flex;
  gap: 40px;
  background-color: darkgray;
  justify-content: center;
  font-style: italic;
}

/* web site geçiş band bitiş */

/* mobil geçiş start  */
.mobil-gecis {
  display: none;
}

/* hakkımda başlangıç */

.hakkimda {
  padding-top: 30px;
  display: flex;
  color: white;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-bottom: 40px;
}

.hakkimda img {
  width: 400px;
}

.hakkimda-text h3 {
  color: aqua;
}

.hakkimda-text h4 {
  color: aqua;
}

.hakkimda-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hakkimda-text a {
  text-decoration: none;
  color: aqua;
  letter-spacing: 0.7px;
}

/* hakkımda bitiş */

/* yetenek kısmı başlangıç */

.yetenek-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 80px;
  padding-bottom: 40px;
}

.yetenek-text h3 {
  color: aqua;
}

.yetenekler {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.yetenekler img {
  width: 180px;
}

.yetenekler-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  cursor: pointer;
  transition: transform 1s ease;
}

.yetenekler-box:hover {
  transform: scale(1.5);
}

.yetenekler-box h4 {
  font-size: 35px;
  line-height: 25px;
  color: aqua;
}
/* yetenek kısmı bitiş */

/* projelerim kısmı başlangıç */

.projeler {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.projeler-box-tanitim {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projeler h4 {
  font-size: 35px;
  line-height: 25px;
  color: aqua;
  padding-bottom: 25px;
  padding-top: 30px;
}

.projeler-box {
  text-align: center;
  text-transform: uppercase;
}

.projeler-box a {
  text-decoration: none;
  color: aqua;
}

.projeler-box img {
  width: 300px;
  height: 150px;
  transition: transform 1s ease;
  padding-bottom: 20px;
}

.projeler-box img:hover {
  transform: scale(1.2);
}

.projeler-box a:hover {
  color: green;
}

/* dropdown menü */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  width: 300px;
  height: 150px;
}

.gif {
  position: absolute;
  bottom: 15%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 300px;
}

.dropdown:hover .gif {
  opacity: 1;
}

/* dropdown menü */

/* projelerim kısmı bitiş */

/* mobil start  */

@media (width <= 425px) {
  /* header start  */

  .baslik {
    display: flex;
    flex-direction: column;
  }
  .baslik .yollar {
    display: none;
  }
  /* header end  */

  /* giris start  */

  .giris {
    display: flex;
    flex-direction: column;
  }

  .giris .yazi {
    text-align: center;
    margin-bottom: 25px;
  }

  .giris .kullanici {
    width: 280px;
    height: auto;
    border-radius: 1px;
  }

  .yetenek {
    display: none;
  }

  .web-site-gecis {
    display: none;
  }
  /* giris end   */

  /* hakkımda start  */

  .hakkimda {
    flex-direction: column;
  }

  .hakkimda img {
    display: none;
  }

  .hakkimda-text {
    width: 330px;
    align-items: center;
    text-align: center;
  }

  .yetenekler {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .yetenekler img {
    width: 50px;
  }

  .yetenekler-box h4 {
    font-size: 20px;
  }

  .projeler-box-tanitim {
    display: grid;
    grid-template-columns: 1fr;
  }

  .yetenekler-box {
    cursor: pointer;
    transition: transform 1s ease;
  }

  

  /* hakkımda end */

  /* projeler start  */

  .projeler-box img:hover {
    transform: scale(1.5);
  }

  .projeler-box img {
    width: 200px;
    height: 100px;
  }

  .projeler-box {
    padding-bottom: 20px;
  }
  /* projeler end  */

  /* mobil web site geçiş  */

  .mobil-gecis {
    gap: 40px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    font-style: italic;
  }
}

/* mobil end  */
