
body , html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4d04e;
}
.container {
  position: relative;
  height: 100%;
 
}
.card {
  width: 350px;
  height: 480px;
  padding: 24px;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #111111;
  background-color: #ffffff;
  margin-top: 90px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 8px 8px 0 #000000;
  
}
.card .a {
  margin-bottom: 24px;
}
.card .learn {
  font-family: Arial, Helvetica, sans-serif;
  width: 62px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  background-color: #f4d04e;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #111111;
  text-align: left;
}
.card .publish {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 12px;
  color: #111111;
}
.card h1 {
  font-family: Arial, Helvetica, sans-serif;
  width: 336px;
  font-size: 24px;
  margin-bottom: 12px;
  color: #111111;
  height: 36px;
}
.card .explanation {
  width: 275px;
  margin-bottom: 24px;
  color: #7f7f7f;
}
.card .user {
  width: 32px;
}
.card .name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #111111;
  display: inline-block;
  margin-left: 12px;
}
.userCard {
  display: flex;
  align-items: center;
}
