*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

.container {
  font-family: "Manrope", sans-serif;
  margin: 0 auto;

}

.header {
  background-image: url(/assets/img/header-background.png);
  background-repeat: no-repeat;
  margin: 0 auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 128px 165px;
  width: 30%;
}

.header-content h4 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 10px;
  color: #fff;
  opacity: 50%;
}

.header-content h2 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
}

.header-content p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #fff;
  opacity: 75%;
}

.header-content a {
  width: 168px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  color: #fff;
  background-color: #d87d4a;
  text-decoration: none;
  text-align: center;
  margin-bottom: 158px;
}

.header-content a:hover {
  background-color: #fbaf85;
}


