.features {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  gap: 125px;
  margin-bottom: 160px;
}

.feature-content {
  width: 635px;
}

.inthebox {
  width: 350px;
}

.features h3 {
  margin-bottom: 32px;
}

.features p {
  opacity: 50%;
}

.box-feature li {
  opacity: 50%;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 8px;
}

.box-feature  span {
 opacity: none; 
  color: #D87D4A;
  padding-right: 24px;
}

.images {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 1110px;
  margin-bottom: 160px;
}

.box-one-img {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.also-like  {
  width: 1110px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 64px;
}
.also-like h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
  font-weight: 700;
}

.like-img {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.product-img {
  display: flex;
  width: 1110px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 160px;
}

.like-img h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 1.70px;
}

.like-img a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  color: #fff;
  background-color: #d87d4a;
  text-decoration: none;
  text-align: center;
}

.like-img a:hover {
  background-color: #FBAF85;
}