*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

.container {
  font-family: "Manrope", sans-serif;
  margin: 0 auto;
}

.header {
  background-color: #0e0e0e;
  margin: 0 auto;
  margin-bottom: 80px;
}
.header-bar {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
}

.nav {
  display: flex;
  gap: 34px;
  list-style: none;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #d87d4a;
}

.goback a {
  text-decoration: none;
  opacity: 50%;
  color: #000;
}
.goback {
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 56px;
}