*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}
.container {
  width: 1440px;
  font-family: "Manrope", sans-serif;

}

.zx-nine {
  background-color: #d87d4a;
  display: flex;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 48px;
  border-radius: 4px;
}

.zx-nine a:hover {
  background-color: #4C4C4C;
}

.img {
  position: relative;
}

.img img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 117px;
}

.content {
  position: absolute;
  left: 850px;
  right: 95px;
  width: 350px;
}

.content h2 {
  color: white;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.content p {
  color: #ffffff;
  opacity: 75%;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 42px;
}

.content a {
  text-decoration: none;
  color: white;
  background-color: #000;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  width: 160px;
}

.zx-seven {
  background-image: url(/assets/img/zx7-speaker.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1110px;
  margin-bottom: 48px;
  border-radius: 4px;
}

.zx-seven a:hover {
background-color: #000000;
color: #FFFFFF;

}

.zx-seven h3 {
  font-weight: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.zx-seven a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  width: 160px;
  border: 1px solid #000;
}

.zx-content {
  padding: 100px 95px;
}

.yx-one {
  display: flex;
  width: 1110px;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 200px;
  border-radius: 4px;
}
.yx-one a:hover {
  background-color: #000000;
  color: #FFFFFF;
  }
  
.yx-one h3 {
  margin-bottom: 40px;
  color: #000000;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;

}
.yx-one-img{
width: 50%;
}

.yx-one a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  width: 160px;
  border: 1px solid #000;
}
.yx-one-content {
  background-color: #F1F1F1;
  width: 50%;
  padding: 100px 95px  ;
  border-radius: 4px;

}
