.container {
  font-family: "Manrope", sans-serif;
  width: 1440px;
}

.product-speaker {
  display: flex;
  gap: 125px;
  width: 1110px;
  margin: 0 auto;
  align-items: center;
}

.product-speaker a:hover {
  background-color: #FBAF85;
}

.product-speaker-content {
  width: 445px;
}

.product-speaker-content h6 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 10px;
  font-weight: 400;
  color: #d87d4a;
  margin-bottom: 16px;
}

.product-speaker-content h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 32px;
}

.product-speaker-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #000;
  opacity: 50%;
  margin-bottom: 40px;
}

.product-speaker-content a {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  color: #fff;
  background-color: #d87d4a;
  text-decoration: none;
  text-align: center;
}

.row-reverse {
  flex-direction: row-reverse;
  margin-top: 160px;
  margin-bottom: 160px;
}