* {
  margin: 0;
}
.container {
  width: 1440px;
  /* padding-top: 120px;
  padding-left: 155px; */
  margin-inline: auto;
}
.menu  {
  text-align: right;
  margin-bottom: 120px;

}
.header {
  width: 820px;

}
.header h4 {
  font-size: 30px;
  margin-bottom: 12px;
 
}
.header h2 {
  font-size: 60px;
  margin-bottom: 40px;
}
.socialMedia img {
  width: 40px;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 200px;
}
.projectTitle {
  font-size: 30px;
  margin-bottom: 40px;
}
.kfc {
  width: 1065px;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 80px;
}
.kfc .kfcNew {
  border-radius: 12px;
  margin-bottom: 24px;
}
.kfc h4 {
  font-size: 30px;
  margin-bottom: 12px;
}
.kfc p {
  width: 568px;
  font-size: 16px;
  margin-bottom: 64px;
}
.kfc .view {
  color: #212121;
  font-size: 16px;
  text-decoration: none;
}
.kfc .icon {
  size: 14px;
  width: 9.04px;
  height: 5.54px;
  margin-top: 4.08px;
  margin-left: 11.67px;
}

.everyday {
  width: 1065px;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 80px;
}
.everyday .everyPng {
  border-radius: 12px;
  margin-bottom: 24px;
}
.everyday h4 {
  font-size: 30px;
  margin-bottom: 12px;
}
.everyday p {
  width: 568px;
  font-size: 16px;
  margin-bottom: 64px;
}
.everyday .view {
  color: #212121;
  font-size: 16px;
  text-decoration: none;
}
.everyday .icon {
  size: 14px;
  width: 9.04px;
  height: 5.54px;
  margin-top: 4.08px;
  margin-left: 11.67px;
}
.early {
  width: 1065px;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 200px;
}
.everyday .earlyPng {
  border-radius: 12px;
  margin-bottom: 24px;
}
.early h4 {
  font-size: 30px;
  margin-bottom: 12px;
}
.early p {
  width: 568px;
  font-size: 16px;
  margin-bottom: 64px;
}
.early .view {
  color: #212121;
  font-size: 16px;
  text-decoration: none;
}
.early .icon {
  size: 14px;
  width: 9.04px;
  height: 5.54px;
  margin-top: 4.08px;
  margin-left: 11.67px;
}
.reach {
  width: 227px;
}
.reach h6 {
  font-size: 20px;
  margin-bottom: 16px;
}
.reach h3 {
  margin-bottom: 283px;
}