* {
  margin: 0;
}
.container {
  height: 900px;
  background-color: #F8EEFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.headerBackground {
  width: 100%;
  background-color: #301534;
  height: 320px;
}
.card {
  width: 500px;
  border-radius: 16px;
  box-shadow: 0px 32px 56px 0px #5000761a;
  
  position: absolute;
  top: 167px;
  background-color: white;
  padding: 40px;
}
.faqs {
  display: flex;
}
.faqs img {
  width: 40px;
  margin-bottom: 47px;
}
.faqs h1 {
  width: 139px;
  font-size: 56px;
  margin-left: 26px;
  margin-bottom: 36px;
}
h4 {
  width: 449px;
  font-size: 18px;
  color: #301534;
  margin-bottom: 24px;
}
p {
  font-size: 16px;
  width: 420px;
  color: #8b6990;
  margin-bottom: 24px;
  font-weight: 400;
}
.border {
  border: 1px solid #f8eeff;
  width: 100%;
  margin-bottom: 24px;
}


 details summary {
  list-style: none; 
  cursor: pointer; 
}
details summary::before {
  content: ""; 
  display: inline-block; 
  width: 32px; 
  height: 32px; 
  background-image: url(/faq-acordion/img/Vector+.png); 
  background-size: cover; 
  margin-right: 5px; 
}


 details[open] summary::before {
  background-image: url(/faq-acordion/img/ph_minus-circle-fill.svg) /* Açık durumda döndüren icon */
}
