*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -1px;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  line-height: 4px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

/* hero kısmı start  */
.container {
  width: 375px;
  font-family: "League Spartan", sans-serif;
  margin: 0 auto;
}

.bg-img img {
  width: 375px;
}

.hero {
  padding-inline: 24px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
}

.hero img {
  margin-top: 12px;
}

.hero h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
  margin-bottom: 21px;
  margin-top: 36px;
}

.hero p {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #fff;
  margin-bottom: 53px;
}

.hero a {
  font-family: "League Spartan", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-align: left;
  color: #fff;
  border: 1px solid #fff;
  padding-block: 24px;
  padding-inline: 20px;
  text-align: center;
  margin-bottom: 150px;
}
/* hero kısmı end  */

/* kategori start  */

.categori {
  position: relative;
  /* top: 676px; */
  z-index: 1;
}

.categorie-box {
  margin-bottom: 100px;
}

.categori-img {
  position: relative;
  z-index: 1;
  bottom: 50px;
}

.tablet {
  display: none;
}
.desktop {
  display: none;
}

.categori-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 24px;
  margin-top: -72px;
}

.categori-text img {
  width: 71px;
  margin-bottom: 36px;
}

.categori-text h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.4;
  text-align: center;
  color: #242b37;
}

.categori-text p {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #242b37;
}

/* kategori end  */

/* menü start  */

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #111111;
  padding: 72px 24px 46px 24px;
}

.menu-path-img {
  display: none;
}

.path {
  margin-inline: 152px;
  width: 56px;
  margin-bottom: 36px;
}

.menu-text {
  margin-bottom: 80px;
}

.menu h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: #fff;
  margin-bottom: 13px;
}

.menu p {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.menu-box {
  margin-bottom: 24px;
  padding-bottom: 54px;
  border-bottom: 1px solid #ffffff15;
}

.menu-box:last-child {
  border: none;
}

.menu-box img {
  margin-bottom: 36px;
}

.menu-box h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #fff;
  margin-bottom: 6px;
}

.menu-box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.ggorsel-show {
  display: none;
}
/* menü end  */

/* reservation codes start  */

.reservation {
  width: 375px;
  object-fit: cover;
  background-image: url(/dine-restaurant/assets/img/reservation.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 84px 24px;
  display: flex;
  flex-direction: column;
}

.reservation h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
}

.reservation a {
  font-family: "League Spartan", sans-serif;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-align: left;
  color: #fff;
  border: 1px solid #fff;
  padding-block: 24px;
  text-align: center;
}
/* reservation codes end  */

/* footer start  */

.footer {
  background-color: #111111;
  padding: 80px 24px;
}

.footer-box {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.footer img {
  margin-bottom: 42px;
}

.footer p {
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}

/* footer end  */

/* TABLET KISMI START  */

@media (min-width: 376px) and (max-width: 768px) {
  .container {
    width: 768px;
  }

  /* hero start  */

  .bg-img img {
    width: 768px;
  }

  .hero h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: -0.6px;
    text-align: center;
    color: #fff;
    margin-bottom: 21px;
    margin-top: 36px;
  }

  .hero p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 53px;
  }

  .hero a {
    font-family: "League Spartan", sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #fff;
    border: 1px solid #fff;
    padding-block: 24px;
    padding-inline: 20px;
  }

  .hero img {
    margin-top: 80px;
  }

  /* hero start  */

  /* kategori start  */

  .categorie-box {
    padding-inline: 98px;
  }

  .path {
    margin-top: 85px;
  }

  .categori-text {
    padding-inline: 58px;
  }

  .categori-text h2 {
    margin-bottom: 27px;
  }

  .mobil {
    display: none;
  }

  .tablet {
    display: block;
  }

  /* kategori end  */

  /* menü start  */

  .path {
    width: 80px;
    margin-inline: 345px;
    margin-bottom: 40px;
  }

  .menu-text {
    padding-inline: 160px;
  }

  .menu-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  .menu-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .menu-box {
    display: flex;
    gap: 40px;
    margin-inline: 98px;
    padding-bottom: 24px;
    align-items: center;
  }

  .menu-box img {
    width: 128px;
    margin-bottom: 0;
  }

  .menu-box-text {
    width: 383px;
  }

  .menu-box-text h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
  }

  .menu-box-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }

  .menu-box-img {
    display: flex;
    align-items: center;
  }

  .menu-path-img {
    margin-top: -50px;
    width: 32px;
    height: 1.5px;
  }
  /* menü end  */

  /* reservation ksımı start  */

  .reservation {
    background-image: url(/dine-restaurant/assets/img/reservation-tablet.jpg);
    width: 768px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 40px 87px 40px 66px;
    display: flex;
    flex-direction: column;
  }

  .reservation h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
  }

  .reservation a {
    font-family: "League Spartan", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.5px;
    margin-inline: 165px;
    width: 245px;
  }
  /* reservation ksımı end  */

  /* footer kısmı start  */

  .footer-box {
    display: grid;
    grid-template-areas:
      "footerlogo footerlocation "
      "footerlogo footeropentimes ";
    width: 690px;
    align-items: start;
    column-gap: 130px;
  }

  .footer-logo {
    grid-area: footerlogo;
  }

  .footer-location {
    grid-area: footerlocation;
    text-align: left;
  }

  .footer-open-times {
    grid-area: footeropentimes;
  }

  .footer p {
    text-align: left;
    width: 456px;
  }

  /* footer kısmı end  */
}

/* TABLET KISMI END  */

@media (width > 768px) { 
  .container {
    width: 1024px;
  }
   /* hero start  */

   .hero {
    background-image: url(/dine-restaurant/assets/img/hero-bg-desktop.png);
    background-repeat: no-repeat;
    padding: 65px 768px 198px 165px;
    align-items: start;
    padding-bottom: 0;
    background-position: right 0 top 0;
  }
  .hero img {
    margin-bottom: 153px;
  }

  .hero h1 {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: left;
  }

  .hero p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .hero a:hover {
    background-color: #fff;
    color: #111111;
  }

  .bg-img {
    display: none;
  }

  /* hero end  */

  /* kategori start  */

  .categorie-box {
    background-image: url(/dine-restaurant/assets/img/left-container-g-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    gap: 125px;
    margin-bottom: 120px;
    padding-inline: 160px;
  }

  .mobil {
    display: none;
  }

  .desktop {
    width: 540px;
    display: block;
  }

  .categori-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 445px;
  }

  .categori-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-bottom: 27px;
  }

  .categori-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .path {
    margin: 0;
    margin-bottom: 55px;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .row-reverse {
    background-image: url(/dine-restaurant/assets/img/right-container-g-bg.png);
    background-position: right 0 bottom 115px;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .ggorsel-show {
    display: block;
    position: absolute;
    right: -100px;
    bottom: 400px;
  }

  /* kategori end  */

  /* menü start  */

  .menu {
    width: 100%;
    position: relative;
    bottom: 120px;
    padding-top: 170px;
  }
  .menu-content {
    display: flex;
    flex-direction: row;
    gap: 125px;
    margin: 0 auto;
  }

  .menu-text {
    width: 445px;
  }

  .menu-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .menu-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .menu-box {
    display: flex;
    gap: 30px;
    padding-bottom: 24px;
  }

  .menu-box-img img {
    width: 128px;
  }

  .menu-box-text {
    width: 350px;
  }

  .menu-box-text h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
  }

  .menu-box-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }

  /* menü end  */

  /* reservation start  */
  .reservation {
    background-image: url(/dine-restaurant/assets/img/reservation-tablet.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 88px 175px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-top: -122px;
    align-items: center;
  }

  .reservation h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
  }

  .reservation a {
    font-family: "League Spartan", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.5px;
    width: 245px;
  }

  .reservation a:hover {
    background-color: #fff;
    color: #111111;
  }

  /* reservation end  */

  /* footer kısmı start  */
  .footer-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 130px;
    padding-inline: 165px;
  }

  /* .footer-logo {
    grid-area: footerlogo;
  }

  .footer-location {
    grid-area: footerlocation;
    text-align: left;
  }

  .footer-open-times {
    grid-area: footeropentimes;
  } */

  .footer p {
    text-align: left;
  }

  /* footer kısmı end  */
}


/* DESKTOP KISMI START  */

@media (width > 1024px) {
  .container {
    width: 100%;
  }
  
  /* hero start  */

  .hero {
    background-image: url(/dine-restaurant/assets/img/hero-bg-desktop.png);
    background-repeat: no-repeat;
    padding: 65px 768px 198px 165px;
    align-items: start;
    padding-bottom: 0;
    background-position: right 0 top 0;
  }
  .hero img {
    margin-bottom: 153px;
  }

  .hero h1 {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: left;
  }

  .hero p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .hero a:hover {
    background-color: #fff;
    color: #111111;
  }

  .bg-img {
    display: none;
  }

  /* hero end  */

  /* kategori start  */

  .categorie-box {
    background-image: url(/dine-restaurant/assets/img/left-container-g-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    gap: 125px;
    margin-bottom: 120px;
    padding-inline: 160px;
  }

  .mobil {
    display: none;
  }

  .desktop {
    width: 540px;
    display: block;
  }

  .categori-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 445px;
  }

  .categori-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-bottom: 27px;
  }

  .categori-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .path {
    margin: 0;
    margin-bottom: 55px;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .row-reverse {
    background-image: url(/dine-restaurant/assets/img/right-container-g-bg.png);
    background-position: right 0 bottom 115px;
    background-repeat: no-repeat;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .ggorsel-show {
    display: block;
    position: absolute;
    right: -100px;
    bottom: 400px;
  }

  /* kategori end  */

  /* menü start  */

  .menu {
    width: 100%;
    position: relative;
    bottom: 120px;
    padding-top: 170px;
  }
  .menu-content {
    display: flex;
    flex-direction: row;
    gap: 125px;
    margin: 0 auto;
  }

  .menu-text {
    width: 445px;
  }

  .menu-text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
  }

  .menu-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }

  .menu-box {
    display: flex;
    gap: 30px;
    padding-bottom: 24px;
  }

  .menu-box-img img {
    width: 128px;
  }

  .menu-box-text {
    width: 350px;
  }

  .menu-box-text h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
  }

  .menu-box-text p {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }

  /* menü end  */

  /* reservation start  */
  .reservation {
    background-image: url(/dine-restaurant/assets/img/reservation-tablet.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 88px 175px;
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-top: -122px;
    align-items: center;
  }

  .reservation h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    margin-bottom: 24px;
  }

  .reservation a {
    font-family: "League Spartan", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.5px;
    width: 245px;
  }

  .reservation a:hover {
    background-color: #fff;
    color: #111111;
  }

  /* reservation end  */

  /* footer kısmı start  */
  .footer-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 130px;
    padding-inline: 165px;
  }

  /* .footer-logo {
    grid-area: footerlogo;
  }

  .footer-location {
    grid-area: footerlocation;
    text-align: left;
  }

  .footer-open-times {
    grid-area: footeropentimes;
  } */

  .footer p {
    text-align: left;
  }

  /* footer kısmı end  */
}
